doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Un avenir avec plus de données: plus d'analyse de données
    meta(name='description', content='Une présentation pour introduire le big data à des étudiants de 15 ans.')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Un avenir avec plus de données: plus d'analyse de données
        
      section
        h2.bullet Sommaire
        ul
          li D'où viennent ces données ?
          li À quoi sert l'analyse de ces données ?
          li Problèmes techniques
          li L'acceptation en société
      
      section
        h2 D'où viennent ces données ?
      
      section
        h3.bullet De tous ce qui est connecté à Internet
        h3.bullet C'est à dire:
        ul
          li Les Ordinateurs 
          li Les Téléphones portables
          li Les "Capteurs" connectés
      
      section
        h3.bullet Mais aussi des systèmes classiques:
        ul
          li Compte bancaire
          li Prévision météo
          li Dossiers médicaux
          
      section
        h2 À quoi sert l'analyse de ces données ?
        
      section
        h3.bullet Santé
        ul
          li Reduire les dépences de santés
          li Faire un choix médical plus précis
      
      section
        h3 Maintenance prédictives
      
      section
        h3 Optimiser en fonction de la météo
        
      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Mais...
      
      section
        h2 Il y a des problèmes techniques
      
      section
        h2.bullet Data scientist
        h3 "Scientifique des données" en français
        ul
          li Choisir l'algorithme
          li Nettoyer les données
          li Trouver les données manquantes 
          li Mettre à jour ces systèmes
          
      section
        h2 Exemple..
      
      section
        svg 
          use(xlink:href='sprite.svg#neurone')
      
      section
        svg 
          use(xlink:href='sprite.svg#reseau-de-neurone')
      
      section
        h2 Il faut également moderniser les appareils
      
      section
        h2 Et il faut faire accepter la récolte de données 

      section
        h2 Merci

    script(src='build/build.js')
